<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>QRController - Configuration</title>
    <link rel="stylesheet" href="styles/master.css">
  </head>
  <body>
    <button type="button" onclick="back()">Back</button>

    <label for="cte_1_a_7">First seven characters all codes</label>
    <input type="text" id="cte_1_a_7">

    <label for="port">Port address for relay card</label>
    <input type="text" id="port">

    <label for="dbun">Username for database</label>
    <input type="text" id="dbun">

    <label for="dbun">Password for database</label>
    <input type="password" id="dbpw">

    <button type="button" onclick="saveConfig()">Save</button>

    <script src="scripts/configuration.js" charset="utf-8"></script>
  </body>
</html>
