<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>QRController - Testing Relays</title>
    <link rel="stylesheet" href="styles/master.css">
  </head>
  <body>
    <button type="button" onclick="back()">Back</button>
    <div id="relay-test-buttons">
      <div>
        <button type="button" onclick="toggle(1)">Relay 1</button>
        <p id="label1">Off</p>
      </div>

      <div>
        <button type="button" onclick="toggle(2)">Relay 2</button>
        <p id="label2">Off</p>
      </div>

      <div>
        <button type="button" onclick="toggle(3)">Relay 3</button>
        <p id="label3">Off</p>
      </div>

      <div>
        <button type="button" onclick="toggle(4)">Relay 4</button>
        <p id="label4">Off</p>
      </div>
    </div>
    <script src="scripts/testRelays.js" charset="utf-8"></script>
  </body>
</html>
